@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
}
.card{
    background-color: #2c3e50;
}

label {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    transition: 200ms ease-in;
    background-color:#ee4d28;
   }

label:hover {
    cursor: pointer;
    background-color:#e2a091;
}

label input[type="radio"] {
    margin-right: 15px;
}
label span{
    color: #2c3e50 !important;
    font-weight: 500;
}
#lastText{
    display: inline-block;
    padding-top: 10px;
}